@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

html {
    font-family: Roboto, sans-serif;
    background-color: #F5F5F5;
    color: black;

    body {
        @apply h-dvh;
        #__nuxt {
            @apply min-w-[560px] h-full;
            h1 {
                @apply text-xl font-medium;
            }

            .nuxt-icon {
                display: flex;

                svg {
                    width: initial;
                    height: initial;
                    margin-bottom: initial;
                    vertical-align: initial;
                }
            }
        }
    }
}